body {
  margin: 0;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.container {
  width: 100%;
  position: absolute;
  transition: 0.3s;
}

.page {
  width: 100%;
  height: 100vh;
  position: relative;
}

.one {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}

.picture-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  filter: brightness(0.75);
}

.picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  position: relative;
  z-index: 1;
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 40px;
}

.subtitle {
  position: relative;
  z-index: 1;
  color: #ffffff;
  font-size: 24px;
  margin-left: 28px;
  margin-right: 28px;
  text-align: center;
}

.icon-button svg {
  color: white;
}

.up {
  top: 20px;
}

.down {
  bottom: 20px;
}

.two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  position: relative;
  z-index: 1;
  margin-left: 28px;
  margin-right: 28px;
}

.text-title {
  text-align: center;
  color: #ffffff;
  font-size: 30px;
  margin-bottom: 70px;
}

@media only screen and (max-width: 639px) {
  .text-content {
    text-indent: 2em;
    text-align: justify;
  }
}

@media only screen and (min-width: 640px) {
  .text-content {
    text-align: center;
  }
}

.text-content {
  color: #ffffff;
  font-size: 15px;
}

.three {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.time-line-container {
  flex-grow: 1;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time-line {
  width: 450px;
  max-width: 60%;
}

.stepper {
  color: white;
}

.step-label span {
  color: white;
  font-size: 18px;
}

.icon-container {
  flex-direction: column;
}

.ICP {
  z-index: 1;
  position: relative;
  color: rgb(184, 179, 179);
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 10px;
}

.ICP:hover {
  color: white;
  transform: scale(1.15);
}
