body {
    margin: 0;
}

.page1 {
    width: 100%;
    position: relative;
}

.picture-container1 {
    /* 跟着浏览器窗口 */
    position: fixed; 
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: brightness(0.75);
    /* opacity: 0.9; */
}
  
.picture1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
    
.app-bar1 {
    opacity: 0.6;
    top:0;
}

.form {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    max-width: 90%;
    opacity: 0.9;
}

.form > p {
    z-index: 1;
    font-size: 17px;
    color: white;
    width:10em;
}

.category-select {
    z-index: 1;
    width: 300px;
    background-color: white;
}

.category_input {
    z-index: 1;
    color: black;
}

.blog-content {
    width:580px;
    color: black;
    background-color: white;
    max-width: 100%;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.button-container1 {
    text-align:center;
}

.button-container2 {
    text-align:center;
}

.get-tags {
    text-align:center;
    width:580px;
    border-style:solid;
    margin-top: 10px;
    border-color:white;
}

 .chip3 {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
    max-width: 100%;
}

.reset {
    /* display: block !important; */
    margin-top: 15px !important;
    margin-bottom: 15px !important;
    margin-right: 35px !important;
}

.submit {
    /* display: block !important; */
    margin-top: 15px !important;
    margin-bottom: 15px !important;
    margin-left: 35px !important;
}

.tags {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    width: fit-content;
}

.tags-p {
    z-index: 1;
    font-size: 17px;
    color: white;
    width:10em;
}

.tags-select {
    z-index: 1;
    width: 300px;
    background-color: white;
}
