body {
    margin: 0;
}

.page1 {
    width: 100%;
    position: relative;
  }

.picture-container1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: brightness(0.75);
    /* opacity: 0.9; */
}
  
.picture1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
    
.app-bar {
    opacity: 0.6;
    top:0;
}